@model WebApp.Models.StudentViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MyStyle
{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}
<div>
    <form method="post">
        <table>
            <tr>
                <td>@Html.Label("Roll No:")</td>
                @*<td><input type="text" name="RollNo" value="@Model.RollNo" /></td>*@
                <td>@Html.TextBox("RollNo", Model.RollNo)</td>
                <td>@Html.ValidationMessageFor(c => c.RollNo)</td>
            </tr>
            <tr>
                <td>@Html.Label("Name")</td>
                @*<td><input type="text" name="Name" value="@Model.Name" /></td>*@
                <td>@Html.TextBox("Name", Model.Name)</td>
                <td></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="Address" value="@Model.Address" /></td>
                <td></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" name="Age" value="@Model.Age" /></td>
                <td></td>
            </tr>
            <tr>
                <td>Department</td>
                @*<td><input type="text" name="DepartmentId" value="@Model.DepartmentId" /></td>*@
                <td>@Html.DropDownListFor(c => c.DepartmentId, Model.DepartmentSelectListItems, "--Select--")</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Search" /></td>
                <td>
                    @if (ViewBag.Message != null)
                    {
                        <h3>
                            <b>
                                @ViewBag.Message
                            </b>
                        </h3>
                    }

                </td>
            </tr>

        </table>
    </form>
    @{
        Html.RenderPartial("~/Views/Shared/Student/_StudentDetails.cshtml", Model);

    }
</div>
