@model WebApp.Models.StudentViewModel
<table>
    <tr>
        <th>Sl</th>
        <th>Roll No</th>
        <th>Name</th>
        <th>Address</th>
        <th>Age</th>
        <th>Department</th>
    </tr>
    @{ int i = 1;}
    @foreach (var student in Model.Students)
    {
    <tr>
        <td>@(i++)</td>
        <td>@student.RollNo</td>
        <td>@student.Name</td>
        <td>@student.Address</td>
        <td>@student.Age</td>
        <td>@student.DepartmentId</td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Student", new { Id = student.Id }, null)
        </td>
    </tr>
    }

</table>
